@model IEnumerable<DataCare.Models.AppraisalObjective>

@{
    ViewData["Title"] = "Objectives";
}

<h1>Objectives</h1>

<p>
    <a asp-action="Objective">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityEndDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
